*.DS_Store
*.mp4
*__pycache__
*.jukit
*.virtual_documents
*.ipynb_checkpoints
*.jpg
*.png
*.csv
*.json
*.xml
*.m4a
*.vtt
*.srt
*.pdf
*.zip
*.gif
*.pkl
*.mkv
*.mov
*.keras
*.tar.gz
*.pth
*.bin
*.img
*.pt
*.npz
*.docx
*.pdf
*.log
*.npy
*.ipynb
mlruns/


AI_SERVICES_IN_ANALYTICS/Assignment/people_ladder
AI_SERVICES_IN_ANALYTICS/Assignment/people_ladder_copy
adl/revision/practical/aclImdb_v1_extracted/aclImdb
adl/revision/practical/logs/20250211-224702
adl/revision/practical/tb_logs/run_2025_02_11-22_47_17
mlops/assignment/mlruns
aap/assignment/4modelling/country_models
aap/assignment/4modelling/country_models_keras_mlb
aap/assignment/4modelling/salary_model_pb
aap/assignment/4modelling/saved_model/1
DATA_PROCESSING_ON_BIG_DATA/Assignment/Task1/training-data-analyst
